.global-sider {
    @apply h-full relative;

    .sider-header {
        @apply flex items-center;

        .logo-img {
            @apply w-12 h-12;
        }

        .logo-text {
            @apply ml-2 text-lg font-bold;
        }
    }
}

.ant-layout-sider {
    @apply h-screen;
}

.ant-menu {
    @apply bg-[#34495E] text-white;
}
